* {
  margin: 0;
  padding: 0;
  box-sizing: unset; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: unset;
  line-height: unset;
  min-width: 315px; }

a {
  text-decoration: none; }

nav a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600; }

.topPageAnchor {
  top: 0;
  position: absolute; }

ul {
  margin: 0;
  padding: 0; }

.mainGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto 430px auto auto 313px;
  column-gap: 20px;
  margin-top: 100px;
  grid-template-areas: "banner banner banner banner banner banner banner banner banner banner banner banner" "bio bio bio bio bio bio bio bio bio bio bio bio" "tour tour tour tour tour tour tour tour tour tour tour tour" "music music music music music music music music music music music music" "gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery" "footer footer footer footer footer footer footer footer footer footer footer footer"; }

.header {
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px;
  column-gap: 20px;
  grid-template-areas: "logo logo logo logo nav nav nav nav nav nav nav nav";
  align-items: center;
  justify-items: end;
  z-index: 1; }
  .header__logoContainer {
    width: 100%;
    height: 76px;
    grid-area: logo;
    grid-column-start: 2; }
  .header__logo {
    width: 107px;
    height: 76px; }
  .header__icoMenuMobile {
    display: none; }
  .header__navMobile {
    display: none; }
  .header__navDesktop {
    width: 100%;
    margin: 0;
    grid-column-start: 6;
    grid-column-end: 12; }
    .header__navDesktop ul {
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .header__navDesktop li {
      height: 60px;
      list-style: none;
      padding-top: 40px; }
      .header__navDesktop li:hover {
        transform: scale(1.1);
        transition-duration: 100ms; }
    .header__navDesktop a {
      color: #333333;
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 0px;
      text-transform: uppercase; }
      .header__navDesktop a:hover {
        color: #000000; }

.banner {
  grid-area: banner; }
  .banner__bannerImg {
    width: 100%;
    max-height: 506px;
    object-fit: cover; }

.bannerHome {
  grid-area: banner; }

.footer {
  background-color: #000000;
  color: #FFFFFF;
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-items: center;
  grid-template-areas: "logo logo logo logo logo logo logo logo logo logo logo logo" "emptyLeft2 copyright copyright copyright copyright copyright copyright copyright copyright  copyright copyright upArrow" "socialMedia socialMedia socialMedia socialMedia socialMedia socialMedia socialMedia socialMedia socialMedia socialMedia socialMedia socialMedia";
  text-align: center; }
  .footer__logoFooter {
    width: 193px;
    height: 193px;
    grid-area: logo;
    margin: auto; }
  .footer__copyrightText {
    font-family: Poppins;
    font-style: normal;
    color: #D2D2D2;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    grid-area: copyright; }
  .footer__socialMediaContainer {
    height: 40px;
    text-align: center;
    margin: auto;
    grid-area: socialMedia; }
    .footer__socialMediaContainer a {
      margin: 0px 15px; }
    .footer__socialMediaContainer img {
      height: 32px; }
  .footer__upArrow {
    grid-area: upArrow; }

.bio {
  grid-area: bio;
  grid-column-end: 12;
  margin-bottom: 30px; }
  .bio__photo {
    max-width: 80%;
    margin: auto;
    margin-top: 130px; }
  .bio__titulo--normal {
    font-weight: 400;
    color: #333333; }
  .bio__texto {
    font-family: Poppins;
    font-weight: 400;
    color: #000000;
    font-size: 14px; }
    .bio__texto--italic {
      font-style: italic; }
    .bio__texto--bold {
      font-weight: 600; }

.sectionTour {
  background-color: #FFFFFF;
  grid-column-start: 2;
  grid-column-end: 12; }

.tituloSeccion, .bio__titulo, .sectionMusicHome__title--margin, .sectionGalleryHome__title--margin, .galleryPhotos__title, .galleryVideos__title, .releasesAndSpotify__title, .discography__title, .containerContact__title {
  font-family: Poppins;
  font-style: normal;
  color: #000000;
  font-weight: 600;
  font-size: 40px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 48px; }

.tourTable {
  width: 100%;
  text-align: center; }
  .tourTable td {
    border-bottom: 2px solid #F5F5F5; }
  .tourTable tr:hover {
    transform: scale(1.01);
    transition-duration: 100ms; }
  .tourTable__numeroTourDate {
    width: 80px;
    font-family: Poppins;
    font-style: normal;
    color: #333333;
    font-weight: 600;
    font-size: 60px;
    text-align: left; }
  .tourTable__fechaTourDate {
    width: 50px;
    font-family: Poppins;
    font-style: normal;
    color: #333333;
    font-weight: 400;
    font-size: 20px;
    text-align: center; }
  .tourTable__nombreEventoTourDate {
    font-family: Poppins;
    font-style: normal;
    color: #333333;
    font-weight: 600;
    font-size: 21px;
    text-align: left;
    padding-left: 5%; }
    .tourTable__nombreEventoTourDate:hover {
      color: #000000; }
  .tourTable__buyTicket {
    font-family: Poppins;
    font-style: normal;
    color: #000000;
    font-weight: 600;
    font-size: 12px;
    text-align: right; }
    .tourTable__buyTicket a {
      text-decoration: none;
      color: #333333; }
      .tourTable__buyTicket a:hover {
        color: #000000; }
    .tourTable__buyTicket img {
      margin-right: 7px; }
  .tourTable__icoTicketMobile {
    display: none; }

.showMore {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; }

.showMoreTitle, .sectionMusicHome__showMore a, .sectionGalleryHome__showMore a {
  font-family: Poppins;
  font-style: normal;
  color: #333333;
  font-weight: 600;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center; }
  .showMoreTitle:hover, .sectionMusicHome__showMore a:hover, .sectionGalleryHome__showMore a:hover {
    color: #000000; }

.sectionMusicHome {
  background-color: #F7F7F7;
  grid-area: music;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: auto auto auto;
  column-gap: 20px;
  grid-template-areas: "title title title title title title title title title title title title title title" "marginLeft photoLeft photoLeft photoLeft photoLeftMid photoLeftMid photoLeftMid photoRightMid photoRightMid photoRightMid photoRight photoRight photoRight marginRight" "showMore showMore showMore showMore showMore showMore showMore showMore showMore showMore showMore showMore showMore showMore";
  align-items: center; }
  .sectionMusicHome__title {
    grid-area: title;
    grid-column-start: 2; }
    .sectionMusicHome__title--margin {
      margin: 0;
      margin-top: 30px;
      margin-bottom: 48px; }
  .sectionMusicHome__homePhoto--1 {
    grid-area: photoLeft; }
    .sectionMusicHome__homePhoto--1:hover {
      transform: scale(1.2);
      transition-duration: 250ms; }
  .sectionMusicHome__homePhoto--2 {
    grid-area: photoLeftMid; }
    .sectionMusicHome__homePhoto--2:hover {
      transform: scale(1.2);
      transition-duration: 250ms; }
  .sectionMusicHome__homePhoto--3 {
    grid-area: photoRightMid; }
    .sectionMusicHome__homePhoto--3:hover {
      transform: scale(1.2);
      transition-duration: 250ms; }
  .sectionMusicHome__homePhoto--4 {
    grid-area: photoRight; }
    .sectionMusicHome__homePhoto--4:hover {
      transform: scale(1.2);
      transition-duration: 250ms; }
  .sectionMusicHome__miniAlbumHome {
    width: 90%;
    max-width: 310px;
    margin-bottom: 14px; }
  .sectionMusicHome__showMore {
    grid-area: showMore;
    margin: auto;
    margin-bottom: 16px; }

.sectionGalleryHome {
  grid-area: gallery;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "title title title title title title title title title title title title" "photoLeft photoLeft photoLeft photoLeftMid photoLeftMid photoLeftMid photoRightMid photoRightMid photoRightMid photoRight photoRight photoRight" "showMore showMore showMore showMore showMore showMore showMore showMore showMore showMore showMore showMore";
  align-items: center; }
  .sectionGalleryHome__title {
    grid-area: title;
    grid-column-start: 2; }
    .sectionGalleryHome__title--margin {
      margin: 0;
      margin-top: 30px;
      margin-bottom: 48px; }
  .sectionGalleryHome__photo--1 {
    grid-area: photoLeft;
    filter: brightness(70%); }
    .sectionGalleryHome__photo--1:hover {
      filter: brightness(100%); }
  .sectionGalleryHome__photo--2 {
    grid-area: photoLeftMid;
    filter: brightness(70%); }
    .sectionGalleryHome__photo--2:hover {
      filter: brightness(100%); }
  .sectionGalleryHome__photo--3 {
    grid-area: photoRightMid;
    filter: brightness(70%); }
    .sectionGalleryHome__photo--3:hover {
      filter: brightness(100%); }
  .sectionGalleryHome__photo--4 {
    grid-area: photoRight;
    filter: brightness(70%); }
    .sectionGalleryHome__photo--4:hover {
      filter: brightness(100%); }
  .sectionGalleryHome__miniCover {
    width: 100%; }
  .sectionGalleryHome__showMore {
    grid-area: showMore;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px; }

.gridTour {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto 313px;
  column-gap: 20px;
  margin-top: 100px;
  grid-template-areas: "banner banner banner banner banner banner banner banner banner banner banner banner" "tour tour tour tour tour tour tour tour tour tour tour tour" "footer footer footer footer footer footer footer footer footer footer footer footer"; }

.gridMusic {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto 313px;
  column-gap: 20px;
  margin-top: 100px;
  grid-template-areas: "banner banner banner banner banner banner banner banner banner banner banner banner" "releaseAndSpotify releaseAndSpotify releaseAndSpotify releaseAndSpotify releaseAndSpotify releaseAndSpotify releaseAndSpotify releaseAndSpotify releaseAndSpotify releaseAndSpotify releaseAndSpotify releaseAndSpotify" "discography discography discography discography discography discography discography discography discography discography discography discography" "footer footer footer footer footer footer footer footer footer footer footer footer"; }

.sectionDiscography .tituloSeccion, .sectionDiscography .bio__titulo, .sectionDiscography .sectionMusicHome__title--margin, .sectionDiscography .sectionGalleryHome__title--margin, .sectionDiscography .galleryPhotos__title, .sectionDiscography .galleryVideos__title, .sectionDiscography .releasesAndSpotify__title, .sectionDiscography .discography__title, .sectionDiscography .containerContact__title {
  grid-area: title;
  margin-bottom: 28px; }

.gridGallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto 313px;
  column-gap: 20px;
  margin-top: 100px;
  grid-template-areas: "banner banner banner banner banner banner banner banner banner banner banner banner" "images images images images images images images images images images images images" "videos videos videos videos videos videos videos videos videos videos videos videos" "footer footer footer footer footer footer footer footer footer footer footer footer"; }

.galleryPhotos {
  grid-area: images;
  padding: 0; }
  .galleryPhotos__title {
    margin-left: 10%; }
  .galleryPhotos__photo {
    filter: brightness(80%);
    width: 100%;
    margin: auto; }
    .galleryPhotos__photo:hover {
      filter: brightness(100%); }

.galleryVideos {
  grid-area: videos;
  padding: 0;
  grid-column-start: 2;
  grid-column-end: 12; }
  .galleryVideos__video {
    width: 450px;
    max-width: 90%;
    height: 235px;
    margin: auto;
    margin-bottom: 20px; }

section a {
  text-align: center;
  margin: auto; }

.releasesAndSpotify {
  grid-area: releaseAndSpotify;
  padding: 0;
  grid-column-start: 2;
  grid-column-end: 12; }
  .releasesAndSpotify__cover {
    filter: brightness(70%);
    width: 90%;
    max-width: 190px;
    margin-bottom: 15px; }
    .releasesAndSpotify__cover:hover {
      transform: scale(1.1);
      transition-duration: 200ms;
      filter: brightness(100%); }
  .releasesAndSpotify__spotifyPlayer {
    min-height: 400px; }

.discography {
  grid-area: discography;
  padding: 0;
  grid-column-start: 2;
  grid-column-end: 12; }
  .discography__miniCover {
    filter: brightness(70%);
    width: 90%;
    margin-bottom: 16px; }
    .discography__miniCover:hover {
      transform: scale(1.1);
      transition-duration: 200ms;
      filter: brightness(100%); }

.col {
  text-align: center; }

.row {
  margin: 0;
  --bs-gutter-x:0; }

.gridContact {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto 313px;
  column-gap: 20px;
  margin-top: 100px;
  grid-template-areas: "banner banner banner banner banner banner banner banner banner banner banner banner" "main main main main main main main main main main main main" "footer footer footer footer footer footer footer footer footer footer footer footer"; }

.containerContact {
  grid-area: main;
  padding: 0;
  grid-column-start: 2;
  grid-column-end: 12; }
  .containerContact__email {
    color: #333333;
    font-weight: 600;
    font-size: 21px;
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    line-height: 84.3%; }

.form-control {
  width: calc(100% - 1.5rem);
  font-family: Poppins; }

.form-select {
  width: calc(100% - 3rem);
  font-family: Poppins; }

.col-form-label {
  text-align: right; }

form label {
  padding-right: 16px;
  color: #000000;
  font-weight: 600;
  font-size: 21px;
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  line-height: 84.3%; }

@media only screen and (max-width: 768px) {
  .mainGrid {
    grid-template-rows: auto auto auto auto auto 313px; }
  .bio {
    grid-column-start: 2; }
    .bio__photo {
      margin-top: 12px; }
    .bio__titulo {
      margin-top: 20px;
      margin-bottom: 20px; }
  .header {
    grid-template-areas: "nav nav nav nav logo logo logo logo empty empty empty empty";
    justify-items: center; }
    .header__logoContainer {
      width: auto;
      height: 76px;
      grid-area: logo; }
    .header__navDesktop {
      display: none; }
    .header__icoMenuMobile {
      display: block;
      grid-column-start: 2; }
    .header__navMobile {
      width: 100%;
      height: 220px;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
      background-color: #FFFFFF;
      position: fixed;
      top: 100px;
      align-content: space-between; }
      .header__navMobile a {
        color: #333333;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        display: block;
        grid-column-start: 1;
        grid-column-end: 13;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 10%; }
        .header__navMobile a:hover {
          color: #000000;
          background-color: #F7F7F7; }
  .sectionMusicHome {
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "title title title title title title title title title title title title title title" "marginLeftUp photoLeftUp photoLeftUp photoLeftUp photoLeftUp photoLeftUp photoLeftUp photoRightUp photoRightUp photoRightUp photoRightUp photoRightUp photoRightUp marginRightUp" "marginLeftDown photoLeftDown photoLeftDown photoLeftDown photoLeftDown photoLeftDown photoLeftDown photoRightDown photoRightDown photoRightDown photoRightDown photoRightDown photoRightDown marginRightDown" "showMore showMore showMore showMore showMore showMore showMore showMore showMore showMore showMore showMore showMore showMore"; }
    .sectionMusicHome__title--margin {
      margin-top: 20px;
      margin-bottom: 20px; }
    .sectionMusicHome__homePhoto--1 {
      grid-area: photoLeftUp; }
      .sectionMusicHome__homePhoto--1:hover {
        transform: scale(1.1);
        transition-duration: 250ms; }
    .sectionMusicHome__homePhoto--2 {
      grid-area: photoRightUp; }
      .sectionMusicHome__homePhoto--2:hover {
        transform: scale(1.1);
        transition-duration: 250ms; }
    .sectionMusicHome__homePhoto--3 {
      grid-area: photoLeftDown; }
      .sectionMusicHome__homePhoto--3:hover {
        transform: scale(1.1);
        transition-duration: 250ms; }
    .sectionMusicHome__homePhoto--4 {
      grid-area: photoRightDown; }
      .sectionMusicHome__homePhoto--4:hover {
        transform: scale(1.1);
        transition-duration: 250ms; }
  .sectionGalleryHome {
    grid-template-areas: "title title title title title title title title title title title title" "photoLeftUp photoLeftUp photoLeftUp photoLeftUp photoLeftUp photoLeftUp photoRightUp photoRightUp photoRightUp photoRightUp photoRightUp photoRightUp" "photoLeftDown photoLeftDown photoLeftDown photoLeftDown photoLeftDown photoLeftDown photoRightDown photoRightDown photoRightDown photoRightDown photoRightDown photoRightDown" "showMore showMore showMore showMore showMore showMore showMore showMore showMore showMore showMore showMore"; }
    .sectionGalleryHome__title--margin {
      margin-top: 20px;
      margin-bottom: 20px; }
    .sectionGalleryHome__photo--1 {
      grid-area: photoLeftUp; }
    .sectionGalleryHome__photo--2 {
      grid-area: photoRightUp; }
    .sectionGalleryHome__photo--3 {
      grid-area: photoLeftDown; }
    .sectionGalleryHome__photo--4 {
      grid-area: photoRightDown; }
  .footer {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "margin logo logo logo upArrow" "copyright copyright copyright copyright copyright" "socialMedia socialMedia socialMedia socialMedia socialMedia"; }
  .tourTable__numeroTourDate {
    width: 10%;
    font-size: 30px; }
  .tourTable__fechaTourDate {
    width: 15%;
    font-size: 16px; }
  .tourTable__nombreEventoTourDate {
    width: 65%;
    font-size: 18px;
    padding: 0;
    line-height: 20px; }
  .tourTable__buyTicket {
    width: auto;
    text-align: right; }
    .tourTable__buyTicket img {
      margin: auto; }
  .tourTable__buyDesktop {
    display: none; }
  .tourTable__icoTicketMobile {
    display: block; }
  .col-form-label {
    text-align: left; } }

@media only screen and (max-width: 425px) {
  .header {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "nav logo logo logo empty"; }
    .header__icoMenuMobile {
      grid-area: nav; }
  .mainGrid {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: "banner banner banner banner banner banner banner banner" "bio bio bio bio bio bio bio bio" "tour tour tour tour tour tour tour tour" "music music music music music music music music" "gallery gallery gallery gallery gallery gallery gallery gallery" "footer footer footer footer footer footer footer footer";
    column-gap: 10px; }
  .bio {
    grid-area: bio;
    grid-column-start: 2;
    grid-column-end: 8; }
    .bio__titulo {
      font-size: 30px; }
    .bio__texto {
      text-align: justify; }
  .sectionTour {
    grid-area: tour; }
  .sectionTour .tituloSeccion, .sectionTour .bio__titulo, .sectionTour .sectionMusicHome__title--margin, .sectionTour .sectionGalleryHome__title--margin, .sectionTour .galleryPhotos__title, .sectionTour .galleryVideos__title, .sectionTour .releasesAndSpotify__title, .sectionTour .discography__title, .sectionTour .containerContact__title {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%; }
  .tourTable {
    width: 80%;
    margin: auto; }
    .tourTable__numeroTourDate {
      width: 10%;
      font-size: 20px; }
    .tourTable__fechaTourDate {
      width: 15%;
      font-size: 14px; }
    .tourTable__nombreEventoTourDate {
      width: 65%;
      font-size: 14px;
      padding: 0;
      line-height: 20px; }
    .tourTable__buyTicket {
      width: auto;
      text-align: right; }
      .tourTable__buyTicket img {
        margin: auto; }
    .tourTable__buyDesktop {
      display: none; }
    .tourTable__icoTicketMobile {
      display: block; }
  #containerReleasesAndSpotify .miniCoverReleases {
    filter: brightness(100%); }
    #containerReleasesAndSpotify .miniCoverReleases:hover {
      transform: none; }
  #containerDiscography .miniAlbumHome {
    filter: brightness(100%); }
    #containerDiscography .miniAlbumHome:hover {
      transform: none; } }
